* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 19);

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}
header{
    position: fixed;
}
.header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    /* background-color:  rgb(4, 4, 44); */
    padding-left: 253px;padding-right: 253px;
    
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 300px;
}
ul li{
    margin: 0px 23px;
    cursor: pointer;
    font-weight: 4000;
    
}
.head-left{
font-size: 21px;
}
.section1{
display: flex;
justify-content: space-around;
}
 h2{
    padding-top: 130px;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    color: rgb(73, 224, 68);
}
.left-section{
font-weight: 4000;
width: 30%;
margin: 70px 0px;

font-size: 28px;
}
.head-right nav ul a li:hover{
    color: #49e044;
    font-size: 1.01rem;
}
.span1{
color:rgb(73, 224, 68);
font-size: 32px;
}

.right-section{
    text-align: center;
    font-weight: 4000;
    width: 30%;
    margin: 40px 0px;
    
    font-size: 28px;
}
.hr{margin-left: 120px;
    color: blueviolet;
    width: 80%;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
/* .section2{
    background-color: rgb(4, 4, 44);
    font-size: 30px;
    text-align: center;
    padding: 20px;
} */
.about{
    margin-top: 200px;
}